<!DOCTYPE html> 

<link rel={{url_for('static',filename="css/pdfh5.css")}} />

<html style="height: 100%; width: 100%;"> 
  <head>
    <title>E-brochure Made By Group Five</title>
  </head>

  <body style="height: 100%; width: 100%; overflow: hidden; margin: 0px;"> 
    <div id="demo"></div>
    <script src={{url_for('static',filename="js/pdf.js")}} type="text/javascript" charset="utf-8"></script>
    <script src={{url_for('static',filename="js/pdf.worker.js")}} type="text/javascript" charset="utf-8"></script>
    <script src={{url_for('static',filename="js/jquery-2.1.1.min.js")}} type="text/javascript" charset="utf-8"></script>
    <script src={{url_for('static',filename="js/pdfh5.js")}} type="text/javascript" charset="utf-8"></script>

    var pdfh5 = new Pdfh5('#demo', {
      pdfurl: {{url_for('static',filename="风心病（RHD）2.0.pdf")}}
    });

  </body> 
</html>
