<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>欢迎页</title>

<style type="text/css">
<!--
.STYLE2 {font-family: Georgia, "Times New Roman", Times, serif}
.STYLE3 {
	font-size: 60px;
	color: #FF0000;
}
.STYLE4 {font-size: 36px}
-->
</style>
</head>

<body>
<h1 align="center" class="STYLE1 STYLE2 STYLE3">欢迎</h1>
<ul>
  <ul class="STYLE2">
    <li class="STYLE4"><a href="/E-brochure">风湿性心脏病|Rheumatic Heart Disease（PMed1电子宣传册）</a></li>
    <li class="STYLE4"><a href="/E-brochure2">肥厚型心脏病|Hypertrophic Heart（PMed2电子宣传册）</a></li>
    <li class="STYLE4"><a href="/ran">抽号器</a></li>
    <li class="STYLE4"><a href="/stu1">校园直播1</a></li>
    <li class="STYLE4"><a href="/klz">签到</a></li>
  </ul>
</ul>

</body>


</html>
