<!DOCTYPE html> 

  <head>
	  <title>E-brochure Made By Group Five</title>
  </head>

  <body style="height: 100%; width: 100%; overflow: hidden; margin: 0px; background-color: rgb(82, 86, 89);"> 
	  <embed width="100%" height="100%" name="plugin" id="plugin" src="http://www.stcmcudata.com/STC8F-DATASHEET/STC8-15-AD-20200618.pdf" type="application/pdf" internalinstanceid="11">
      <!--<embed src={{url_for('static',filename="风心病（RHD）2.0.pdf")}} type="application/pdf" internalinstanceid="11" name="plugin" id="plugin">-->
    <!--<iframe src={{url_for('static',filename="风心病（RHD）2.0.pdf")}} width="100%" height="100%"></iframe>-->
    <!--<object data={{url_for('static',filename="风心病（RHD）2.0.pdf")}} type="application/pdf" width="1380px" height="800px">
        <p><b>返回内容</b>: 该浏览器不支持PDFs.请点击查看: 
        <a href={{url_for('static',filename="风心病（RHD）2.0.pdf")}}>Download PDF</a>.</p>
    </object>-->
  </body> 

</html>
