<!DOCTYPE html> 

  <head>
	  <title>E-brochure Made By Group Five</title>
  </head>

  <body> 
    <!--><embed src={{url_for('static',filename="风心病（RHD）2.0.pdf")}} type="application/pdf" width="100%" height="100%" internalinstanceid="81 /><!-->
    <!--><iframe src={{url_for('static',filename="风心病（RHD）2.0.pdf")}} width="100%" height="100%"></iframe><!-->
    <object data={{url_for('static',filename="风心病（RHD）2.0.pdf")}} type="application/pdf" width="100%" height="100%">
        <p><b>返回内容</b>: 该浏览器不支持PDFs.请点击查看: 
        <a href={{url_for('static',filename="风心病（RHD）2.0.pdf")}}>Download PDF</a>.</p>
    </object>
  </body> 

</html>
